@import "../../assets/styles/layout";

.research {
  .Banner {
    position: relative;

    width: 100%;
    height: 500px;
  }

  .img-fluid {
    img{
      width: 150%;
      //margin-left: 0;
      max-width: 1200px;
    }
  }
  .bold {
    font-family: "Open Sans Bold", sans-serif;
  }
  .BannerImage {
    position: absolute;
    left: 0;
    width: 100%;
    height: 580px;
    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      opacity: 0.95;
    }
  }

  .BannerTextContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    //left: 10%;
    //right: 50%;

    display: flex;
    justify-content: left;
    align-items: center;
  }

  .IntroContainer {
    position: absolute;
    top:75%;
    //left: 10%;
    width: 40%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .BannerText--light {
    color: white;
    //width: 50%;
    user-select: none;
  }

  .IntroText {
    position: absolute;
    bottom: 0;
    left: 4%;
    right: 10%;
    font-size: 0.78rem;

  }
  .IntroText--light{
    color: white;
  }
  .h4--light {
    color: $primary-orange;
  }
  .h4--dark {
    color: $asparagus;
  }
  .bg-cream {
    background-color: $pale-peach;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    img {
      padding-bottom: 30px;
      width: 100px;
      height: 100px;
    }
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    .IntroContainer {
      width: 40% !important;
    }
  }
  @media screen and (max-width: 767px) {
    .Banner {
      height: 300px;
    }
    .BannerImage {
      height: 350px;
      opacity: 0.7;
    }
    .IntroText{
      display: none;
    }
    .BannerTextContainer {
      //left: 15%;
      width: 70%;
    }
    .BannerText {
      font-size: 2.3rem;
      &--light {
        font-size: 2.3rem;
      }
    }
  }

}
