@import '../../../assets/styles/colors';
@import '../../../assets/styles/layout';
.phase{
    margin-top: 30px;
    width: 100%;
    padding: 30px 5% 30px 5%;

    span {
        width: 100%;
        text-align: center;

        h2 {
            margin-bottom: 30px;
            color: $default-text;
        }
    }
    h4 {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
        line-height: 1.8em;
    }
    li {
        line-height: 2.2em;
        //font-family: "Open Sans SemiBold", sans-serif;
        //font-size: 1.2rem;
        //color: $default-text;
        list-style: circle;
    }
    img {
        width: 100%;
        margin: auto 0;
        box-shadow: 4px 4px 50px rgba(115, 115, 115, 0.25);
    }

}
.doubleDiamond {
    margin-top: 15px;
}

.emphasize {
    font-weight: 600;
}
.photoDeck {
    margin-bottom: 20px;
}
