.research {
  .Banner {
    position: relative;

    width: 100%;
    height: 500px;
  }

  .BannerImage {
    position: absolute;
    left: 0;
    width: 100%;
    height: 580px;
  }

  .BannerTextContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 50%;

    display: flex;
    justify-content: left;
    align-items: center;
  }

  .IntroContainer {
    position: absolute;
    top:75%;
    left: 10%;
    width: 30%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .BannerText {
    color: #fff;
    width: 50%;
    font-family: 'Open Sans ExtraBold', sans-serif;
    font-size: 3rem;
    user-select: none;
  }

  .IntroText {
    position: absolute;
    bottom: 0;
    left: 4%;
    right: 10%;
    font-size: 0.75rem;
    color: #fff;
  }

  .VideoPlayer {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    .IntroContainer {
      width: 40% !important;
    }
  }
  @media screen and (max-width: 767px) {
    .Banner {
      height: 300px;
    }
    .BannerImage {
      height: 350px;
    }
    .IntroText{
      display: none;
    }
    .BannerTextContainer {
      left: 15%;
      width: 70%;
    }
    .BannerText {
      font-size: 2rem;
    }
  }

}
