$default-title: #6B6B6B;
$default-text: #FE6C41;
$active-text: #FFF;
$active-bg: $default-text;
$color: #999;
$default-headline:  #212529;
$highlight: #FDB242;


$discover-orange: #FF8A00;
$primary-orange: #FDB242;
$cream: #FFDEA4;
$pale-peach: #FFF1D9;
$light-cream: #FFF9F0;
$dark-green: #3F6866;
$asparagus: #9CC1B4;
$fern: #BADBD2;
$main-text: #363636;
$dark-gray: #414141;
$mid-gray: #828282;
$light-gray: #BDBDBD;
$near-white: rgba(212,212,212,0.6);
